
@{
    ViewBag.Title = "BGS: About";
}
<div class="infopage-tpl">
    <div class="container">
        <h1>About</h1>
        <div class="row">
            <div class="col-sm-6">
                <p>
                    Arcane Tinmen ApS <br />
                    Bjoernholms Allé 4-6<br />
                    DK-8260 Viby J<br />
                    Denmark
                </p>
                <p>
                    Phone: 0045 8676 5636<br />
                    E-mail: <a href="mailto:info@arcanetinmen.dk">info@arcanetinmen.dk</a>
                </p>
            </div>
            <div class="col-sm-6">
                Arcane Tinmen is a leading manufacturer of cardsleeves for the most popular TCGs and boardgames.
            </div>
        </div>
    </div>
</div>