
@{
    ViewBag.Title = "BGS: Business";
}

<div class="infopage-tpl">
    <div class="container">
        <h2>Wholesale inquiry</h2>
        <div class="row">
            <div class="col-sm-6">
                <p>Arcane Tinmen is seeking distributors in the countries listed below. If you are interested in servicing your region with our products, please send an email to <a href="mailto:info@arcanetinmen.dk">info@arcanetinmen.dk</a></p>
                <ul>
                    <li>
                        Estonia
                    </li>
                    <li>
                        Japan
                    </li>
                    <li>
                        India
                    </li>
                    <li>
                        Latvia
                    </li>
                    <li>
                        Lithuania
                    </li>
                    <li>
                        Ukraine
                    </li>
                    <li>
                        South America
                    </li>
                    <li>
                        Turkey
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <div class="img img-100" style="background-image:url('/Content/images/business.jpg')">
                </div>
            </div>
        </div>
    </div>
</div>