
@{
    ViewBag.Title = "BGS: Buy";
}

<div class="infopage-tpl">
    <div class="container">
        <h1>Where to buy</h1>
        <div class="row">
            <div class="col-sm-6">
                <p>Please contact Arcane Tinmen if you wish to know where you can buy our products</p>
                <p>
                    Phone: 0045 8676 5636<br />
                    E-mail: <a href="mailto:info@arcanetinmen.dk">info@arcanetinmen.dk</a>
                </p>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>
</div>