
@{
    ViewBag.Title = "BGS: Contact";
}

<div class="infopage-tpl">
    <div class="container">
        <h1>Contact</h1>
        <div class="row">
            <div class="col-sm-6">
                <p>
                    Arcane Tinmen ApS <br />
                    Bjoernholms Allé 4-6<br />
                    DK-8260 Viby J<br />
                    Denmark
                </p>
                <p>
                    Phone: 0045 8676 5636<br />
                    E-mail: <a href="mailto:info@arcanetinmen.dk">info@arcanetinmen.dk</a>
                </p>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>
</div>