@{
    ViewBag.Title = "boardgamesleeves.com - Home";
}


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>

    </ol>


    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="img img-30 img-xs-100" style="background-image: url('/Content/images/slide1.jpg')"></div>
            <div class="carousel-caption">
                <h2>New Card Sleeves Available</h2>
            </div>
        </div>
        <div class="item">
            <div class="img img-30 img-xs-100" style="background-image: url('/Content/images/slide2.jpg')"></div>
            <div class="carousel-caption">
                <h2>We guarantee a size that fits your cards!</h2>
            </div>
        </div>
        <div class="item">
            <div class="img img-30 img-xs-100" style="background-image: url('/Content/images/slide3.jpg')"></div>
            <div class="carousel-caption">
                <h2>New in stock - The Hobbit Board Game Sleeves</h2>
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container">
    <div class="clearfix">
        <h1 class="text-center">WELCOME!</h1>
    </div>
    <div class="row quicklinks">
        <div class="col-sm-4">
            <a href="/Page/Business" class="quicklink">
                <div class="centering-outer">
                    <div class="centering-inner text-center">
                        <h2>Wholesale inquiry</h2>
                    </div>
                </div>
                <div class="img img-100" style="background-image: url('/Content/images/square1.jpg');"></div>
                <div class="btn btn-black">Read more</div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/Page/Buy" class="quicklink">
                <div class="centering-outer">
                    <div class="centering-inner text-center">
                        <h2>Find a distributor</h2>
                    </div>
                </div>
                <div class="img img-100" style="background-image: url('/Content/images/square2.jpg');"></div>
                <div class="btn btn-black">Read more</div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/Page/About" class="quicklink">
                <div class="centering-outer">
                    <div class="centering-inner text-center">
                        <h2>About</h2>
                    </div>
                </div>
                <div class="img img-100" style="background-image: url('/Content/images/square3.jpg');"></div>
                <div class="btn btn-black">Read more</div>
            </a>
        </div>
    </div>
    <div class="frontpage-content">
        <h2>Boardgamesleeves for everyone</h2>
        <p>
            Boardgamesleeves are currently available from leading shops all over of the world.<br /><br />

            If you are interested in marketing/selling Boardgamesleeves in your region or country e-mail us for more information at: info@arcanetinmen.dk<br /><br />

            If your game and hobby store doesn't stock Boardgamesleeves please have them contact us and we will be happy to service them.
        </p>
        <h3>Get more value</h3>
        <p>
            Your games last longer and become easier to shuffle when you equip them with a set of our high quality sleeves. We guarantee that you will get a better experience from any game with a sleeve combination from our line of products.
        </p>
    </div>
</div>