@{
    ViewBag.Title = "BGS: Order Submitted";
}

<div class="checkout-tpl">
    <div class="container">
        <h1>Thanks!</h1>
        <p>Thanks for placing your order. We'll ship your goods as soon as possible.</p>
    </div>
</div>